<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Impute Missing Values**

Estimated time needed: **30** minutes

In this lab, you will practice essential data wrangling techniques using the Stack Overflow survey dataset. The primary focus is on handling missing data and ensuring data quality. You will:

- **Load the Data:** Import the dataset into a DataFrame using the pandas library.

- **Clean the Data:** Identify and remove duplicate entries to maintain data integrity.

- **Handle Missing Values:** Detect missing values, impute them with appropriate strategies, and verify the imputation to create a complete and reliable dataset for analysis.

This lab equips you with the skills to effectively preprocess and clean real-world datasets, a crucial step in any data analysis project.

## Objectives

In this lab, you will perform the following:

-   Identify missing values in the dataset.

-   Apply techniques to impute missing values in the dataset.
  
-   Use suitable techniques to normalize data in the dataset.

-----

#### Install needed library

In [5]:
# !pip install pandas

### Step 1: Import Required Libraries

In [6]:
import matplotlib.pyplot as plt
import pandas as pd

### Step 2: Load the Dataset Into a Dataframe

#### **Read Data**
<p>
The functions below will download the dataset into your browser:
</p>

In [7]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

### Step 3. Finding and Removing Duplicates
##### Task 1: Identify duplicate rows in the dataset.

In [8]:
## Write your code here
df.duplicated().where(df.duplicated()==True).dropna()

Series([], dtype: object)

##### Task 2: Remove the duplicate rows from the dataframe.

In [16]:
## Write your code here
df = df.drop_duplicates()

### Step 4: Finding Missing Values
##### Task 3: Find the missing values for all columns.

In [17]:

df.isna().any(axis=0).where(df.isna().any(axis=0)==True).dropna()
## Write your code here

RemoteWork             True
CodingActivities       True
EdLevel                True
LearnCode              True
LearnCodeOnline        True
                       ...
JobSatPoints_11        True
SurveyLength           True
SurveyEase             True
ConvertedCompYearly    True
JobSat                 True
Length: 109, dtype: object

##### Task 4: Find out how many rows are missing in the column RemoteWork.

In [18]:
## Write your code here
df['RemoteWork'].isna().sum()

10631

### Step 5. Imputing Missing Values
##### Task 5: Find the value counts for the column RemoteWork.

In [19]:
## Write your code here
df['RemoteWork'].value_counts()

RemoteWork
Hybrid (some remote, some in-person)    23015
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

##### Task 6: Identify the most frequent (majority) value in the RemoteWork column.

In [35]:
## Write your code here
max_val = df['RemoteWork'].value_counts().reset_index().sort_values(by='count', ascending=False)['RemoteWork'].iloc[0]
max_val

'Hybrid (some remote, some in-person)'

##### Task 7: Impute (replace) all the empty rows in the column RemoteWork with the majority value.

In [37]:
## Write your code here
df['RemoteWork'] = df['RemoteWork'].fillna(value=max_val)

##### Task 8: Check for any compensation-related columns and describe their distribution.

In [42]:
## Write your code here
cols = df.columns.tolist()
comps = []
for col in cols:
    if 'Comp' in col:
        comps.append(col)

print(comps)

['CompTotal', 'AIComplex', 'ConvertedCompYearly']

In [43]:
comps.remove('AIComplex')
comps

['CompTotal', 'ConvertedCompYearly']

In [46]:
data = df[comps].dropna()
data

       CompTotal  ConvertedCompYearly
72     2040000.0               7322.0
374      28000.0              30074.0
379      85000.0              91295.0
385      50000.0              53703.0
389     110000.0             110000.0
...          ...                  ...
41180   468000.0              44640.0
41184   170000.0             170000.0
41185   116844.0             116844.0
41186    12000.0              12000.0
41187   200000.0             222834.0

[23435 rows x 2 columns]

In [49]:
data.describe()

          CompTotal  ConvertedCompYearly
count  2.343500e+04         2.343500e+04
mean   2.447967e+07         8.615529e+04
std    6.834232e+08         1.867570e+05
min    1.000000e+00         1.000000e+00
25%    5.800000e+04         3.271200e+04
50%    1.075000e+05         6.500000e+04
75%    2.500000e+05         1.079715e+05
max    5.000000e+10         1.625660e+07

In [47]:
import seaborn as sns

In [48]:
sns.pairplot(data=data)

KeyboardInterrupt

Error in callback <function _draw_all_if_interactive at 0x0000015BB92E1080> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt

Error in callback <function flush_figures at 0x0000015BB663E980> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt

### Summary

**In this lab, you focused on imputing missing values in the dataset.**

- Use the <code>pandas.read_csv()</code> function to load a dataset from a CSV file into a DataFrame.

- Download the dataset if it's not available online and specify the correct file path.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-29|1.2|Madhusudhan Moole|Updated lab|
|2024-09-27|1.1|Madhusudhan Moole|Updated lab|
|2024-09-26|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.