<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Normalization Techniques**

Estimated time needed: **30** minutes

In this lab, you will focus on data normalization. This includes identifying compensation-related columns, applying normalization techniques, and visualizing the data distributions.

## Objectives

In this lab, you will perform the following:

- Identify duplicate rows and remove them.

- Check and handle missing values in key columns.

- Identify and normalize compensation-related columns.

- Visualize the effect of normalization techniques on data distributions.

-----

## Hands on Lab

#### Step 1: Install and Import Libraries

In [13]:
# !pip install pandas

In [14]:
# !pip install matplotlib

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2: Load the Dataset into a DataFrame

We use the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.

The functions below will download the dataset into your browser:

In [16]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

df = pd.read_csv(file_path)

# Display the first few rows to check if data is loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

In [17]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Section 1: Handling Duplicates
##### Task 1: Identify and remove duplicate rows.

In [18]:
## Write your code here
df = df.drop_duplicates()

### Section 2: Handling Missing Values
##### Task 2: Identify missing values in `CodingActivities`.

In [19]:
## Write your code here
df.isna().any(axis=0).where(df.isna().any(axis=0)==True).dropna()

RemoteWork             True
CodingActivities       True
EdLevel                True
LearnCode              True
LearnCodeOnline        True
                       ...
JobSatPoints_11        True
SurveyLength           True
SurveyEase             True
ConvertedCompYearly    True
JobSat                 True
Length: 109, dtype: object

##### Task 3: Impute missing values in CodingActivities with forward-fill.

In [20]:
## Write your code here
df = df.ffill()

### Section 3: Normalizing Compensation Data
##### Task 4: Identify compensation-related columns, such as ConvertedCompYearly.
Normalization is commonly applied to compensation data to bring values within a comparable range. Here, you’ll identify ConvertedCompYearly or similar columns, which contain compensation information. This column will be used in the subsequent tasks for normalization.

In [21]:
## Write your code here
cols = df.columns.tolist()
comps = []
for col in cols:
    if 'Comp' in col:
        comps.append(col)

print(comps)
comps.remove('AIComplex')
data = df[comps].dropna()

['CompTotal', 'AIComplex', 'ConvertedCompYearly']

In [22]:
data

       CompTotal  ConvertedCompYearly
72     2040000.0               7322.0
73     2040000.0               7322.0
74     2040000.0               7322.0
75     2040000.0               7322.0
76     2040000.0               7322.0
...          ...                  ...
65432    55000.0             222834.0
65433    55000.0             222834.0
65434    55000.0             222834.0
65435    55000.0             222834.0
65436    55000.0             222834.0

[65365 rows x 2 columns]

##### Task 5: Normalize ConvertedCompYearly using Min-Max Scaling.
Min-Max Scaling brings all values in a column to a 0-1 range, making it useful for comparing data across different scales. Here, you will apply Min-Max normalization to the ConvertedCompYearly column, creating a new column ConvertedCompYearly_MinMax with normalized values.

In [27]:
## Write your code here
data_mm = data
cols = data_mm.columns.tolist()

for col in cols:
    data_mm[col] = data_mm[col].apply(lambda x: (x-data_mm[col].min())/(data_mm[col].max()-data_mm[col].min()))

data_mm

           CompTotal  ConvertedCompYearly
72     2.040000e-144             0.000450
73     2.040000e-144             0.000450
74     2.040000e-144             0.000450
75     2.040000e-144             0.000450
76     2.040000e-144             0.000450
...              ...                  ...
65432  5.500000e-146             0.013707
65433  5.500000e-146             0.013707
65434  5.500000e-146             0.013707
65435  5.500000e-146             0.013707
65436  5.500000e-146             0.013707

[65365 rows x 2 columns]

##### Task 6: Apply Z-score Normalization to `ConvertedCompYearly`.

Z-score normalization standardizes values by converting them to a distribution with a mean of 0 and a standard deviation of 1. This method is helpful for datasets with a Gaussian (normal) distribution. Here, you’ll calculate Z-scores for the ConvertedCompYearly column, saving the results in a new column ConvertedCompYearly_Zscore.

In [28]:
## Write your code here
data_zs = data
cols = data_zs.columns.tolist()

for col in cols:
    data_zs[col] = data_zs[col].apply(lambda x: (x-data_zs[col].mean())/data_zs[col].std())

data_zs

       CompTotal  ConvertedCompYearly
72     -0.003911            -0.897824
73     -0.003911            -0.897824
74     -0.003911            -0.897824
75     -0.003911            -0.897824
76     -0.003911            -0.897824
...          ...                  ...
65432  -0.003911             0.606374
65433  -0.003911             0.606374
65434  -0.003911             0.606374
65435  -0.003911             0.606374
65436  -0.003911             0.606374

[65365 rows x 2 columns]

In [36]:
data_zs.describe()

          CompTotal  ConvertedCompYearly
count  6.536500e+04         6.536500e+04
mean  -2.065373e-18        -1.391409e-16
std    1.000000e+00         1.000000e+00
min   -3.911356e-03        -9.489221e-01
25%   -3.911356e-03        -5.826579e-01
50%   -3.911356e-03        -1.113710e-01
75%   -3.911356e-03         6.063743e-01
max    2.556619e+02         1.125165e+02

### Section 4: Visualization of Normalized Data
##### Task 7: Visualize the distribution of `ConvertedCompYearly`, `ConvertedCompYearly_Normalized`, and `ConvertedCompYearly_Zscore`

Visualization helps you understand how normalization changes the data distribution. In this task, create histograms for the original ConvertedCompYearly, as well as its normalized versions (ConvertedCompYearly_MinMax and ConvertedCompYearly_Zscore). This will help you compare how each normalization technique affects the data range and distribution.

In [40]:
## Write your code here

### Summary

In this lab, you practiced essential normalization techniques, including:

- Identifying and handling duplicate rows.

- Checking for and imputing missing values.

- Applying Min-Max scaling and Z-score normalization to compensation data.

- Visualizing the impact of normalization on data distribution.

Copyright © IBM Corporation. All rights reserved.